.App {
  height: 100vh;
  display: flex;
  background-color: #F3F3FB;
}
.Container {
  position: relative;
  text-align: center;
  width: 420px;
  padding: 20px 30px;
  height: 580px;
  border: 1px solid #F3F3FB;
  border-radius: 20px;
  margin: auto;
  background-color: #FFF;
  box-shadow: 5px 15px 45px 0px #8B8C9C,80px 40px 0px 0px #191F3F;
  z-index: 1;
}